/*.grid{
    display: grid;
    grid-template-columns: 50px 300px;
    grid-template-rows: 200px 75px ;        
}
*/
.grid{
    display: grid;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: "my-header" "my-nav" "my-section" "my-aside" "my-footer";
    grid-template-columns:100%;
    grid-template-rows: 150px auto auto auto auto;
        
}

header{
    grid-area: my-header;
    background-color:skyblue;
    text-align: center;
    color: black;   
}

#logo{
    float: right;
    height: 70%;
}
#ropa{
    margin-left: 3%;
    float: left;       
}

#ropa2{
    margin-right: 3%;
    float: right;   
    width: 50%;
}
#ropa3{
    margin-right: 3%;
    float: right;   
    width: 50%;
}


header h1{
    font-size: x-large;    
    text-align: center;
}
header h2{
    font-size:medium;
    color: red;  
}

nav{
    grid-area: my-nav;
    background-color:cornflowerblue ;
    text-align: center;    
}

nav a{
    color: white;
    
}

#envio{
    margin-right: 3%;
    float: right;   
    height: 100px;
}
a+a{
    margin-left: 5%;
}
section{
    grid-area: my-section;
    background-color: indigo;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
}
aside{
    grid-area: my-aside;
    background-color:salmon;
    font-size: small;
    padding-bottom: 5%;
    padding-top: 0%;
}
aside p{
    font-size: x-large;
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    grid-area: my-footer;
    background-color:goldenrod;
}
footer h1{
    text-align: center;
    font-size: small;
    font-family: 'Lucida Sans';
    color: black;
}
footer h2{
    text-align: center;
    font-size: small;
    font-family: 'Lucida Sans';
    color: black
}


@media(min-width:600px) and (max-width:1000px){
    .grid{
        grid-template-columns:30% 70% ;/*esto es opcional*/
        grid-template-rows:auto auto auto 80px ;/*esto es opcional*/
        grid-template-areas: "my-header my-header" 
        "my-nav my-nav" "my-aside my-section "
        "my-footer my-footer";   
        }
        aside{
            font-size:150%;
            color: black;
        }        
        #logo{
            float: right;
            width: 40%;            
            margin-right: 3%;            
        }
        #envio{
            clear: right;
            position: relative;           
            margin-right: 20%;                      
            padding-bottom: 5%;
            padding-top: 0%;
            width:80%;
            height: auto;
            
            
        }
        header{
            padding-bottom: 10px;
            padding-top: 10px;
            
        }
        #ropa{
            margin-left: 3%;
            float: left;
            height: 85%;       
        }
        
        #ropa2{
            margin-right: 2%;
            float: right;   
            width: 48%;
            height: 40%;
        }
        #ropa3{                       
            margin-right: 2%;            
            float: right;
            width: 48%;
            height: 49%;
                         
            
        }
}

@media(min-width:1001px){
    .grid{
    grid-template-columns:15% 70% 15%;/*esto es opcional*/
    grid-template-rows:auto auto ;/*esto es opcional*/
    grid-template-areas: "my-header my-header my-header" 
    "my-nav my-section my-aside"
    "my-footer my-footer my-footer";   
    }
    h1{
        color: aquamarine;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        
    }
    h2{
        color:black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }
    
    nav p{
        color: black;
    }
    section{
        background-color: bisque;
        color: black;
        font-size: x-large;
    }
    section nav{
        margin: 1px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:x-large;
    }
    #envio{
        float:right ;           
        margin-left:10%;
        margin-bottom: 10%;
        margin-right: 20%;
    }
    #logo{
        float: right;
        height: 40%;
        width: 20%;
        margin: 2%;
        

    }
    #ropa{
        float: left;
        height: 60%;
        width: 30%;
        margin-left: 10%;
        margin-top: 10%;
    }
    #ropa2{
        float: right;
        width: 50%;
        height: 40%;
        margin-right: 10%;
    }
    #ropa3{
        float: right;
        width: 50%;
        height: 40%;
        margin-right: 10%;
    }
}
