#caja1{
    background-color:red;
    font-size:x-large;
    text-align: center;
    color: white;
        
}
#caja2{
    width: 20%;
    height: 10%;
    float: right;
    margin: 3%;
    
}
#caja3{
    background-color:white;
  margin-bottom: 0px;
  text-align: justify;      
}
#caja4{
    background-color:red;
    color: white;    
    float:right;     
    text-align: center;
}
#caja5{
    font-size: small;
}