#caja1{
    background-color:red;
    font-size:x-large;
    text-align: center;
        
}
#caja2{
    width: 300px;
    height: 150px;
    float: right;
    
}
#caja3{
    background-color:white;
  margin-bottom: 0px;      
}
#caja4{
    background-color:red;
    color: white;    
    float:right;
    width: 200px;
    text-align: center;
}
#caja5{
    font-size: small;
}